apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: springboot-app
  template:
    metadata:
      labels:
        app: springboot-app
    spec:
      containers:
        - name: springboot-app
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 50m
              memory: 120Mi
            limits:
              cpu: 100m
              memory: 120Mi